form {
    display: flex;
    flex-direction: column;
    label {
        display: inherit;
        flex-direction: inherit;
        input {
            height: 2rem;
        }
    }
}

button {
    background: none;
    border: none;
    border: 1px black solid;
    margin-top: 1rem;
    height: 2rem;
}

img {
    width: 100%;
}

.dogCard {
    border: 1px solid black;
    border-radius: 1.5rem;
    margin: 1rem;
    padding: 1rem;
}

article {
    max-width: 400px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}